* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

   /* Navigation */
.container-fluid {

    & nav {
        /* padding: 0 90px; */

        & .head {
            & .nav-link {
                padding: 0 120px;

                & a{
                    font-size: 12px;
                }
            }
        }

        & .logo{
            & {
                align-items: center;
                justify-content: center;
            }
        }

        & .search_default{
            width: px;
        }

        & .register-search {

            & .search-icon {
                align-items: center;
                justify-content: center;
                display: flex;
            }

            & .search_modal{
                height: 30px;
            }
        }

        & .nav-foot {
            & .link {
                display: flex;
                gap: 100px;
            }
        }

        & .nav-foot .nav-link {
            gap: 40px;

            & a {
                font-size: 3px;
            }
        }
    }
}

/* Benner */

.benner{
    height: auto;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190617/ourmid/pngtree-blue-technology-e-commerce-learning-education-business-poster-banner-image_123753.jpg");
    border-image: linear-gradient(rgba(4, 3, 3, 0.593), rgba(4, 3, 3, 0.593)) fill 1;
    background-size: cover;
    background-repeat: no-repeat;  

    & .box{
        /* height: 400px; */
    }

    & .text{
        /* padding: 5rem; */

        & .link{

            & a{
                font-size: 13px;
            }
        }


    }

    & .Certificat{

        & p{
            font-size: 2.5rem;
        }

    }


}
