<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combodia Economy - Business</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/style/pageMenu.css">
</head>

<body>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="../../index.html">
                    <img class="logoForCombodiaEconomy" src="../assets/image/logoForCombodiaEconomy.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 navbar-ul">
                        <li class="nav-item nav-item-design ">
                            <a class="nav-link nav-link-design" href="lestsNewe.html">ព័ត៍មានថ្មីៗ</a>
                        </li>
                        <li class="nav-item nav-item-design">
                            <a class="nav-link nav-link-design" href="business.html">អាជីវកម្ម</a>
                        </li>
                        <li class="nav-item nav-item-design">
                            <a class="nav-link nav-link-design" href="it.html">បច្ចេកវិទ្យា</a>
                        </li>
                        <li class="nav-item nav-item-design">
                            <a class="nav-link nav-link-design" href="art.html">សិល្ប:</a>
                        </li>
                        <li class="nav-item nav-item-design">
                            <a class="nav-link nav-link-design" href="sport.html">កីឡា</a>
                        </li>
                        <li class="nav-item dropdown nav-item-design ">
                            <div class="nav-link dropdown-toggle nav-link-design" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                ទំនាក់ទំនង
                            </div>
                            <ul class="dropdown-menu ">
                                <li>
                                    <a class="dropdown-item " href="#">
                                        <i class="fa-brands fa-facebook icon"></i>
                                        <span class="nav-link-design1">Facebook</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item " href="#">
                                        <i class="fa-brands fa-telegram icon"></i>
                                        <span class="nav-link-design1 ">Telegram</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa-solid fa-envelope icon"></i>
                                        <span class="nav-link-design1">Email</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item " href="#">
                                        <i class="fa-solid fa-phone icon"></i>
                                        <span class="nav-link-design1 ">Phone</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item btn-login-design">
                            <a class="nav-link " href="#">
                                <span class="btn-text ">Sig in</span>
                            </a>
                        </li>
                        <li class="mt-2 mt-lg-0 ms-lg-2">
                            <button onclick="toggleColor()" id="btn">
                                <i class="fa-solid fa-moon"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container mt">
        <div class="row">
            <div class="col-12 col-md-5">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://business-cambodia.com/cms/assets/1a259699-bf0d-4db5-97cf-b095d41c721d?format=webp"
                                class="d-block w-100 img-fluid rounded-2" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://business-cambodia.com/cms/assets/5bf6ca34-8c97-4eff-b9e0-234c1df38569?format=webp"
                                class="d-block w-100 img-fluid rounded-2" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://business-cambodia.com/cms/assets/c63e9437-71e1-45c3-ae31-ea9ba8746e28?format=webp"
                                class="d-block w-100 img-fluid rounded-2" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div id="videoCard" class="mt-3">
                    <!-- input for video -->
                </div>
            </div>
            <div class="col-12 col-md-7">
                <div class="row" id="cardBusiness">
                    <template id="cardTemplate">
                        <div class="col-12 col-md-6  col-xl-4 col-xxl-3 mb-3">
                            <a href="#" class="text-decoration-none cardLink">
                                <div class="card h-100" id="card">
                                    <img src="" class="card-img-top img-fluid cardImg" alt="">
                                    <div class="card-body d-flex flex-column p-1">
                                        <span class=" border border-1 rounded-3 btnText px-1 w-50"></span>
                                        <h5 class="card-title fw-bold cardTitle mt-1"></h5>
                                        <p class="card-text  cardDesc"></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </template>
                </div>
                <div class="container-fluid">
                    <img class="img-fluid w-100"
                        src="https://business-cambodia.com/cms/assets/5f86174c-f130-4e25-b187-4e3b4a5c5b33?format=webp"
                        alt="">
                    <img class="img-fluid w-100 mt-3"
                        src="https://business-cambodia.com/cms/assets/757c3021-e2f7-4084-9f04-afadcf862b87?format=webp"
                        alt="">
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid mt-3 d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-12 col-md-6  d-flex justify-content-center align-items-center">
                <div class="bgLogo">
                    <img class="imgFooter" src="../assets/image/logoForCombodiaEconomy.png" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center p-2 text-light">
                <ul class="textFooter">
                    <h6>រាល់ព័ត៍មានទាំងអស់បានដកស្រង់អំពី គេហទំព័រ ក្នុងស្រុកដែលអាចទុកចិត្តបានដូចជា៖​</h6>
                    <li class="ms-4">Business cambodia</li>
                    <li class="ms-4">Fresh News Cambodia</li>
                    <li class="ms-4">Sabay News</li>
                    <li class="ms-4">ផ្សេងៗទៀត</li>
                </ul>
            </div>
        </div>

    </footer>
    <script src="../assets/js/business.js"></script>
</body>

</html>